@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.comment {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid #717171;
  font-family: "Ubuntu", sans-serif;
  padding: 10px 0;
  margin-bottom: 20px;
}

.comment .comment_date{
    font-size: 1.2rem;
    color: #4e4d4d;
}
.comment .comment_data{
    margin-top: 10px;
    word-spacing: 5px;
}

.comment .comment_author{
    text-align: right;
    color: #3d3b3b;
    margin-top: 10px;
}