@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

.container {
  max-width: 500px;
  margin: 70px auto;
}

.container h1 {
  font-family: "Encode Sans Expanded", sans-serif;
  text-align: center;
  font-size: 1.8rem;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #8f8d8d;
}

.container form {
  width: 90%;
  margin: auto;
  font-family: "Ubuntu", sans-serif;
  border-bottom: 1px solid #8f8d8d;
}

.container form label {
  display: block;
  font-size: 1.5rem;
  margin-top: 20px;
}

.container form .input {
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  margin-top: 5px;
  padding-left: 5px;
  height: 35px;
  width: 97%;
}

.container form .wrongInput {
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  margin-top: 5px;
  padding-left: 5px;
  height: 35px;
  width: 97%;
  border-color: red;
}

.container form input[type="checkbox"] {
  margin-top: 10px;
  margin-left: 5px;
}

.container form input[type="submit"] {
  font-family: "Encode Sans Expanded", sans-serif;
  display: block;
  margin: 20px auto;
  font-size: 1.3rem;
  background-color: white;
  padding: 0px 80px;
  border: 1px solid #484747;
  cursor: pointer;
}

.container .errorText {
  color: red;
}

.container .noAccount {
  font-family: "Ubuntu", sans-serif;
  word-spacing: 5px;
  margin-top: 30px;
  text-align: center;
  font-size: 1.3rem;
}

.container .noAccount a {
  text-decoration: none;
}
