@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap");

.title {
  width: 80%;
  margin: 30px auto;
  font-family: "Encode Sans Expanded", sans-serif;
  text-transform: uppercase;
  word-spacing: 5px;
}

.noBlog {
  text-align: center;
  font-size: 1.7rem;
  font-family: "Encode Sans Expanded", sans-serif;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }
}
